build/
.build/
cmake-build-*/


CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CTestTestfile.cmake
DartConfiguration.tcl
Testing/


*.o
*.obj
*.a
*.so
*.dll
*.dylib
*.exe
*.out


html/
latex/
Doxyfile.bak


.vscode/
!.vscode/tasks.json
!.vscode/launch.json


.DS_Store
Thumbs.db
*~
*.swp
*.swo


*.log