build/
.build/
cmake-build-*/


CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CTestTestfile.cmake
DartConfiguration.tcl
Testing/
tkom_2026l_mateuszjakubiak.git/

TKOM_2026L_Mateusz_Jakubiak_5_.pdf
zzz_wynik_komenda.txt
zzz_wynik.txt


*.o
*.obj
*.a
*.so
*.dll
*.dylib
*.exe
*.out


#.vscode/
#!.vscode/tasks.json
#!.vscode/launch.json
